body {
    background-color: rgb(90, 168, 90);
}
main {
    display: block;
    box-shadow: -5px 5px 30px;
    border-radius: 5px;
    height: 100%;
}
main > form {
    height: 100%;
}
main,
header {
    margin: 0px auto 25px auto;
    width: 800px;
}
header > h1,
header > h2,
header > div {
    text-align: center;
}
header > div > a {
    display: inline-block;
    text-align: center;
    line-height: 25px;
    height: 25px;
    width: 125px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(3, 117, 3);
}
.agurkas {
    margin-top: 5px;
    width: 100%;
    height: 100px;
}
.pomidoras {
    margin-top: 5px;
    width: 100%;
    height: 100px;
}
.agurkai {
    float: left;
    height: 100px;
    vertical-align: middle;
    width: 60%;
    text-align: center;
}
    .agurkai > p {
        font-weight: 500;
        font-size: 25px;
    }
.israuti {
    width: 20%;
    height: 100px;
    float: left;
}
    .israutiButton {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        background-color: rgb(3, 117, 3);
        border-radius: 5px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        color: white;
    }
.agurkaiText {
    display: inline-block;
    vertical-align: middle;
    color: white;
}
.imgDiv {
    display: inline-block;
    float: left;
    position: relative;
    height: 100px;
    width: 20%;
}
    .images {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
.sodintiAgurka {
    float: left;
    width: 49%;
    margin-top: 15px;
    background-color: rgb(3, 117, 3);
    color: white;
    border: none;
    border-radius: 0px 0px 0px 5px;
    height: 30px;
    cursor: pointer;
}
.sodintiPomidora {
    float: right;
    width: 49%;
    margin-top: 15px;
    background-color: rgb(3, 117, 3);
    color: white;
    border: none;
    border-radius: 0px 0px 5px 0px;
    height: 30px;
    cursor: pointer;
}
.agurkas {
    width: 100%;
    display: block;
}
.auginti {
    width: 100%;
    margin-top: 15px;
    background-color: rgb(3, 117, 3);
    color: white;
    border: none;
    border-radius: 0px 0px 5px 5px;
    height: 30px;
    cursor: pointer;
}
.skintiDerliu {
    width: 100%;
    margin-top: 15px;
    background-color: rgb(3, 117, 3);
    color: white;
    border: none;
    border-radius: 0px 0px 5px 5px;
    height: 30px;
    cursor: pointer;
}
.skinam {
    border: none;
    border-radius: 5px;
    background-color: #037503;
    opacity: 0.5;
    height: 25px;
}
.mygtukai {
    float: left;
    height: 100px;
    width: 20%;
    margin-bottom: 5px;
}
.skinti,
.skintiVisus {
    margin-bottom: 1px;
    display: block;
    vertical-align: middle;
    height: 49%;
    width: 100%;
    background-color: rgb(3, 117, 3);
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: white;
}
.error {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}